anaconda-navigator==2.3.2
appdirs==1.4.4
argh==0.26.2
atomicwrites==1.4.0
bkcharts==0.2
black==19.10b0
brotlipy==0.7.0
category-encoders==2.6.1
conda==22.9.0
conda-build==3.21.5
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
cycler==0.10.0
cytoolz==0.11.0
daal4py==2021.3.0
dask==2021.10.0
datashape==0.5.4
entrypoints==0.3
et-xmlfile==1.1.0
fonttools==4.25.0
kneed==0.8.5
mccabe==0.6.1
MissForest==1.1.3
missingno==0.5.2
missingpy==0.2.0
mpmath==1.2.1
munkres==1.1.4
mypy-extensions==0.4.3
oauthlib==3.2.2
pandas==1.3.4
Pillow==8.4.0
pipreqs==0.4.13
pytest==6.2.4
requests-oauthlib==1.3.1
scikit-image==0.18.3
scikit-learn==1.3.0
sfrancia==1.0.8
simplegeneric==0.8.1
unicodecsv==0.14.1
webencodings==0.5.1
xgboost==1.7.6
xlwings==0.24.9
xlwt==1.3.0
yarg==0.1.9
zict==2.0.0
zope.event==4.5.0

